@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        Hello:    @User.Identity.GetUserName()
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>

                </ul>

            </li>
        </ul>
    }

}
else
{

    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="btn btn-outline-primary">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        <li class="btn btn-outline-primary">@Html.ActionLink("Register", "RegisterUser", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>


}
